torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
transformers
accelerate
bitsandbytes
sentencepiece
pandas
numpy
tqdm
safetensors
tokenizers
huggingface-hub
vllm
sympy
ipykernel
jupyter
antlr4-python3-runtime==4.11.1
